body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
}

#detail-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

img {
  width: 400px;
  border-radius: 10px;
}